<div class="prop-info" id="prop-info">
    <div class="prop">
        <div id="asset-name"></div>
        <div id="asset-dimensions"></div>
        <div id="json">
            <div id="json-missing">
                <div>JSON Missing!</div>
                <ui-button id="generate-json" class="blue">Generate JSON</ui-button>
            </div>
            <ui-section id="json-content" header="JSON Details" expand>
                <div>one</div>
                <div>two</div>
                <div>three</div>
            </ui-section>
        </div>
    </div>
</div>
