
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# Level editor writes this to allow booting into a test level; should never be committed
#//////////////////////////
test-play.*

!ci/temp
