<div class="modifierEditable" id="modifier-template">
    <div class="text">
        Hand Multiplier:
        <ui-button id="modifier-delete" class="red">Delete</ui-button>
    </div>

    <div class="modifierEditableSection">
        <div>
            <ui-label>Expires</ui-label>
            <ui-checkbox id="modifier-expires" value="false"></ui-checkbox>
        </div>
        <div>
            <ui-label>Turn Count</ui-label>
            <ui-num-input id="modifier-expires-turn-count" value="0" step="1" min="0"></ui-input>
        </div>
    </div>
    <div class="modifierEditableSection">
        <div>
            <ui-label>Multiplier</ui-label>
            <ui-num-input id="modifier-multiplier" value="2" step="1" min="1" max="5"></ui-num-input>
        </div>
    </div>
</div>
